<form id="login-form" method="POST" action="/users/login" enctype="application/x-www-form-urlencoded">
	<fieldset>
		<legend>Existing User Login</legend>
		<label>Username: </label>
		<input type="text" required name="username" />
		<br />

		<label>Password: </label>
		<input type="password" required name="password"/>

		<br />
		<button type="submit" id="login">Login</button>
	</fieldset>
</form>
<div class="div-image"></div>