<form id="form" method="POST" action="/users/register" enctype="application/x-www-form-urlencoded">
    <fieldset>
        <legend>New User Registration</legend>
        <label>Username: </label>
        <input id="username" type="text" name="username" required/>
        <br />

        <label>Email: </label>
        <input type="email" name="email"/>
        <br />

        <label>Password: </label>
        <input id="password" type="password" name="password" />
        <br />

        <label>Confirm Password: </label>
        <input id="confirm" type="password" />
        <br />

        <label>Are you age 13+ ? </label>
        <input id="ageBox" type="checkbox" />
        <br />

        <label>Agree to TOS: </label>
        <input id="tos-box" type="checkbox" />
        <a href="http://www.isitdarkoutside.com" class="reg-tos">TOS and Privacy Rules</a>
        <br />

        <button type="submit">Register Now !</button>
    </fieldset>
</form>
<div class="div-image"> </div>